flows_david-Lenovo-ideapad-100-14IBY.json
[{"id":"c337e038.674df","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"3606a39a.7a4654","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fca2fa2a.a213f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eeefcf1d.723df8","type":"ui_tab","z":0,"name":"Fecha","icon":"dashboard"},{"id":"17adea3a.37903e","type":"ui_group","z":0,"name":"Fecha","tab":"eeefcf1d.723df8","disp":true,"width":"6","collapse":false},{"id":"7b7fbc26.ec340c","type":"ui_group","z":0,"name":"Home","tab":"","disp":false,"width":"6","collapse":false},{"id":"3b0226df.9f510a","type":"ui_group","z":0,"name":"Default","tab":"","disp":true,"width":"1","collapse":false},{"id":"23eca6d0.630e7a","type":"ui_group","z":0,"name":"0","tab":"","disp":true,"width":"6","collapse":false},{"id":"75a4b8a5.64fd","type":"ui_tab","z":0,"name":"Conteo","icon":"dashboard","order":2},{"id":"bc30c2a4.e0956","type":"ui_group","z":0,"name":"cero","tab":"75a4b8a5.64fd","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b7edcfa.eed143","type":"ui_group","z":0,"name":"Grupo1","tab":"390c34c8.1ff1cc","order":1,"disp":true,"width":"12","collapse":false},{"id":"390c34c8.1ff1cc","type":"ui_tab","z":0,"name":"Grafica","icon":"dashboard","order":1},{"id":"ff1289e7.61fa1","type":"ui_group","z":0,"name":"Group 2","tab":"75a4b8a5.64fd","order":1,"disp":true,"width":6},{"id":"8b89b06a.949008","type":"ui_tab","z":0,"name":"Tab 3","icon":"dashboard","order":3},{"id":"7ca65578.e0318c","type":"ui_group","z":0,"name":"Group 1","tab":"8b89b06a.949008","order":1,"disp":true,"width":6},{"id":"b54270dd.0f9488","type":"ui_group","z":0,"name":"Main","tab":"f51aa7c5.a20608","disp":true,"width":"6"},{"id":"f51aa7c5.a20608","type":"ui_tab","z":0,"name":"Dev","icon":"dashboard","order":2},{"id":"abdc56e1.d001c","type":"ui_group","z":0,"name":"Main","tab":"","disp":true,"width":"6"},{"id":"59893110.489db8","type":"ui_group","z":0,"name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"7bba6844.908568","type":"ui_tab","z":0,"name":"Cam","icon":"dashboard","order":1},{"id":"8bdf1896.a949c","type":"ui_group","z":0,"name":"Cam","tab":"7bba6844.908568","disp":true,"width":"6","collapse":false},{"id":"b3408635.15b888","type":"ui_group","z":0,"name":"WS2812B LED STRIP","tab":"5e4497bf.6f2b3","order":1,"disp":true,"width":"6"},{"id":"5e4497bf.6f2b3","type":"ui_tab","z":0,"name":"Lab","icon":"dashboard","order":1},{"id":"94805575.7fc5a","type":"ui_group","z":0,"name":"WS2812B LED STRIP","tab":"166d549c.e8944b","order":1,"disp":true,"width":"6"},{"id":"166d549c.e8944b","type":"ui_tab","z":0,"name":"Lab","icon":"dashboard","order":1},{"id":"d23ba377.c084a8","type":"inject","z":"c337e038.674df","name":"Quakes","topic":"","payload":"","payloadType":"none","repeat":"900","crontab":"","once":true,"x":103,"y":138.04168701171875,"wires":[["a90ef553.b32b4"]]},{"id":"a90ef553.b32b4","type":"http request","z":"c337e038.674df","name":"","method":"GET","url":"https://api.nasa.gov/planetary/earth/assets?lon=100.7&lat=1.5&begin=2014-02-01&api_key=BEeckkpq1CiWrYSyn8ZpAWSLE5r1NCyQ4pPUNLWS","tls":"","x":260.5,"y":138.04144287109375,"wires":[["4b64958f.67e8ac","7e0d19a0.86ed58"]]},{"id":"51e65b98.a343bc","type":"debug","z":"c337e038.674df","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":624,"y":236.04168701171875,"wires":[]},{"id":"7abbd644.0f31b","type":"switch","z":"c337e038.674df","name":"cambiante","property":"playload","propertyType":"msg","rules":[{"t":"cont","v":"{","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":547.5,"y":125,"wires":[["51e65b98.a343bc"]]},{"id":"c1277897.6ea178","type":"inject","z":"3606a39a.7a4654","name":"Quakes","topic":"","payload":"","payloadType":"str","repeat":"900","crontab":"","once":true,"onceDelay":"","x":131,"y":255.04168701171875,"wires":[["34fcca9.46cbfb6"]]},{"id":"34fcca9.46cbfb6","type":"http request","z":"3606a39a.7a4654","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_month.csv","tls":"","x":309.5,"y":255.04144287109375,"wires":[["3002470d.2db8b"]]},{"id":"b50afa1c.b43e9","type":"comment","z":"3606a39a.7a4654","name":"Earthquake !!!","info":"","x":124.33334350585938,"y":205,"wires":[]},{"id":"44503a28.05b734","type":"debug","z":"3606a39a.7a4654","name":"","active":true,"console":"false","complete":"payload","x":693,"y":313.04168701171875,"wires":[]},{"id":"fd18fb7e.16d8","type":"debug","z":"c337e038.674df","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":551.5,"y":344,"wires":[]},{"id":"7e0d19a0.86ed58","type":"split","z":"c337e038.674df","name":"","splt":"}","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":257.5,"y":342,"wires":[["7abbd644.0f31b","fd18fb7e.16d8"]]},{"id":"4b64958f.67e8ac","type":"csv","z":"c337e038.674df","name":"","sep":"{","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":281.5,"y":222,"wires":[["7abbd644.0f31b"]]},{"id":"3002470d.2db8b","type":"csv","z":"3606a39a.7a4654","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":487.5,"y":245,"wires":[["bbc9c639.1b4f08","44503a28.05b734"]]},{"id":"e52ec7a3.af1b48","type":"worldmap","z":"3606a39a.7a4654","name":"","lat":"","lon":"","zoom":"","cluster":"","maxage":"","path":"","x":677,"y":638,"wires":[]},{"id":"bbc9c639.1b4f08","type":"function","z":"3606a39a.7a4654","name":"Add person to map","func":"\nvar info=msg.payload.id;\nvar lat=msg.payload.latitude;\nvar long=msg.payload.longitude;\nvar lg=msg.payload.place;\n\nvar thing = {\n    name:info, \n    lat:lat, \n    lon:long,\n    icon:\"satellite\",\n    iconColor:\"darkred\",\n    photourl:\"https://picsum.photos/200/300/?random\",\n    lugar:lg\n    \n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":476,"y":483,"wires":[["e52ec7a3.af1b48"]]}]